a.button {
    display: block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    border: 0.5px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
    color: black;
}

a.button:hover {
    color: brown;
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(255, 254, 251), rgb(226, 221, 207));
    box-shadow: 0 0 2px 0 grey;
}